.MainPageContent {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form {
  width: 20%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* .form p {
    color: rgba(57, 54, 54, 0.79);
    text-align: center;
  align-items: center;
  font-size: 12px;
} */

.input {
  background: grey;
  width: 100%;
/*   margin-bottom: 3%;
   box-shadow: 5px 5px 15px rgb(255, 163, 163); */
 border-radius: 50px;
  border: 2px solid white;
  outline: none;
  padding: 1rem 2rem; 
 
}

input:hover {
  box-shadow: 0 4px 8px 0 rgba(245, 234, 177, 0.845),
    0 6px 20px 0 rgb(233, 251, 159);
  cursor: pointer;
  transition: box-shadow 0.5s;
}

.label {
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.label,
.input {
  text-align: center;
  align-items: center;
}

.submit {
border: none;
  border-radius: 50px;
  color: #fff;
  background-color: rgb(74, 63, 67);
  cursor: pointer;
  height: 100%;
  aspect-ratio: 1;
  font-size: 15px;
  position: absolute;
  right: 0;
  top: 0;
  border: 2px solid white;
 

}

.submit:hover {
  cursor: pointer;
  background-color: rgb(243, 96, 169);
  transition: background-color 1s;
}

.inputSubmitWrapper {
  display: flex;
  width: 400px;
  max-width: 100%;
  position: relative;
}

.timeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}





@media only screen and (max-width: 1166px) {
  .form {
    width: 30%;
  }

}

@media only screen and (max-width: 768px) {
  .form {
    width: 40%;
  }

}

@media only screen and (max-width: 375px) {
  .form {
    width: 60%;
  }

}

@media only screen and (max-width: 414px) {
  .form {
    width: 70%;
  }

}

@media only screen and (max-width: 430px) {
  .form {
    width: 80%;
  }

}